.page-main-wrap {
  padding-top: var(--header-height);
}

#page-profile-media,
#page-profile-playlists,
#page-profile-about,
#page-liked.profile-page-liked,
#page-history.profile-page-history {
  .page-main {
    min-height: calc(100vh - var(--header-height));
  }
}

.page-main {
  position: relative;
  width: 100%;
  padding-bottom: 16px;
}

.page-main-inner {
  display: block;
  margin: 1em 1em 0 1em;
}

#page-profile-media,
#page-profile-playlists,
#page-profile-about,
#page-liked.profile-page-liked,
#page-history.profile-page-history {
  .page-main-wrap {
    background-color: var(--body-bg-color);
  }
}
