{% extends "base.html" %}

{% block headtitle %} | 登录{% endblock headtitle %}

{% block innercontent %}
<div class="user-action-form-wrap">
    <div class="user-action-form-inner">

		<h1>登录</h1>

		<p>如果您还没有账号，请先 <a href="{{ signup_url }}">注册。</a></p>

		<form class="login" method="POST" action="{% url 'account_login' %}">
		  {% csrf_token %}
		  {{ form.as_p }}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button class="primaryAction" type="submit">登录</button>
		</form>

		{% if lotus_sso_enabled %}
		<p style="margin-top:1.2em;">
		  <a href="{% url 'lotus_sso_start' %}{% if redirect_field_value %}?next={{ redirect_field_value|urlencode }}{% endif %}">用莲花导航登录</a>
		</p>
		{% endif %}

    </div>
</div>
{% endblock innercontent %}

