MediaCMS.contents = {
    sidebar: {
        navMenuItems: [{
                text: "About",
                link: "/about",
                icon: 'contact_support',
            },
            {
                text: "Terms",
                link: "/tos",
                icon: 'insert_drive_file',
            },
            {
                text: "Contact",
                link: "/contact",
                icon: 'alternate_email',
            }
        ],
        belowNavMenu: null,
        <!-- 两行文字，第一行是 Powered by，第二行是 赣ICP备2025053972号-3 -->
        footer: '莲花影院 · 以影像传递智慧与安宁<br>' +
                '<a href="https://beian.miit.gov.cn/" title="赣ICP备2025053972号-3" target="_blank">赣ICP备2025053972号-3</a>',
    },
    uploader: {
        belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
};