{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
{% load custom_filters %}
<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
{% get_current_language as LANGUAGE_CODE %}

<div class="custom-page-wrapper">
	<h2>{{ "About" | custom_translate:LANGUAGE_CODE}}</h2>
	<hr/>

{#    <h1><a href="https://ssbx.site">菩提路上</a> </h1>#}
<h3 style="text-align: center; color: red;">这是一家突破你想象的影院，里面的影片不仅仅是娱乐休闲，更能激发善根，</h3>
<h2 style="text-align: center; color: blue;">带你走进更广阔的视野，接触到不一样的三观情怀。</h2>
<h1 style="text-align: center;">是的，必定如此。</h1>



</div>

{% endblock %}
